/* common */
.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../Images/Book.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  position: relative;
  background-position: 100% 100%;
}

.form {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  width: 70vw;
}

@media (max-width:750px) {
  .form {
    width: 90vw;
  }
}

/* home */
.bg-image-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../Images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  height: 600px;
}

@media (max-width:750px) {
  .bg-image-home {
    height: 250px;
  }
}

/* offer */
.offer-img {
  right: 50px;
}

.maxcont {
  display: inline-block;
  min-width: 140px;
  background-repeat: no-repeat;
  height: 150px;
}

.badge-tilt {
  transform: rotate(-20deg);
  background-repeat: no-repeat;
}

.badge-height {
  height: 400px;
}

@media (max-width:750px) {
  .badge-height {
    height: 700px;
  }
}

/* video */
.bg-image-video {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  height: 600px;
}

@media (max-width:750px) {
  .bg-image-video {
    height: 250px;
  }
}

.width-video {
  width: 100px;
  background-color: rgb(233, 182, 95);
}

.width-video:hover {
  background-color: black;
}

/* contact */

.width-icon {
  width: 60px;
  padding: 15px 0px;
}

/* orderviaapp */

.bg-order-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
}

/* gallery */
.position-img {
  position: relative;
}

.position {
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0;
}

.position:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-image-reserve {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../Images/gallery/reservebg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 500px;
}

@media (max-width:750px) {
  .bg-image-reserve {
    height: 450px;
  }
}

/* about */

.bg-about-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../Images/about/aboutbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 100%;
}

.imge {
  width: 99%;
  height: 99.2%;
}

/* bookatable */

.brd-tag {
  background-color: transparent;
  border: 1px solid rgb(233, 182, 95)
}

/* chefs */

.chef-img {
  position: relative;
}

.chef {
  width: 95%;
  background-color: transparent;
  position: absolute;
  bottom: 123px;
  opacity: 0;
  z-index: 1;
}

@media (max-width:750px) {
  .chef {
    width: 92%;
  }
}


.chef:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}